*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
}

header{
    position:relative;
    height: 80px;
    background-color: #F5F8FA;
    border-bottom: 1px solid #CBD6E2;
}

.h-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding:20px 0;
}

.h-box::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    background-color: #FFFFFF;
}

nav .nav-box{
    height: 90px;
}

nav .l-nav-box{
    float: left;
    position:relative;
    width: 50%;
    height: 90px;
}

.l-nav-box img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 120px;
}

nav .r-nav-box{
    float: right;
    position:relative;
    width: 50%;
    height: 90px;
}

.r-nav-ul{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

section{
    background-color: #425B76;
}

section .new-box{
    height: 100px;
}

.last-news{
    height: 100px;
    padding:20px 0;
}

.last-news p{
    padding:0 20px;
}

.main{
    background-color: #FFF3EE;
}

.main-jumbo-box{
    height: 650px;
}

.info-service{
    background-color: #F5F8FA;
}

.in-se-box{
    height: 800px;
}

.info-community{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.in-comm-box{
    height: 650px;
}

.customers{
    background-color: #FFFFFF;
}

.cust-box{
    height: 185px;
}

.start-today{
    background-color: #FFFFFF;
}

.start-box{
    height: 420px;
}

.end-footer{
    background-color: #33475B;
}

.end-box{
    height: 120px;
}

ul{
    font-size: 20px;
}

li{
    display: block;
    float: left;
    list-style: none;
}

li.left{
    border-right: 2px solid #CBD6E2;
}

.fa-globe{
    padding-right: 10px;
}

a{
    text-decoration: none;
}

p{
    font-size: 18px;
}
