*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 1080px;
    margin: auto;
}

header{
    height: 80px;
    background-color: #F5F8FA;
    border-bottom: 1px solid #CBD6E2;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.l-h-box{
    float: left;
    width: 50%;
    height: 80px;
    padding:20px 0;
}

.l-h-box ul{
    padding-top: 10px;
    display: inline-block;
}

.l-h-box li.left{
    border-right: 2px solid #CBD6E2;
    padding: 0 10px;
}

.r-h-box{
    text-align:right;
    float: left;
    width: 50%;
    height: 80px;
    padding:20px 0;
}

.r-h-box ul{
    padding-top: 10px;
    display: inline-block;
}

.login-link{
    color: #FF7A59;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 8px 24px;
    border:1px solid #FF7A59;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-right: 20px;
}

.ghf-link{
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 8px 24px;
    border:1px solid #FF7A59;
    border-radius: 3px;
    background-color: #FF7A59;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    background-color: #FFFFFF;
}

.nav-menu{
    padding-top: 80px;
}

nav .nav-box{
    height: 90px;
}

nav .l-nav-box{
    float: left;
    position:relative;
    width: 50%;
    height: 90px;
}

.l-nav-box img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 120px;
}

nav .r-nav-box{
    float: right;
    position:relative;
    width: 50%;
    height: 90px;
}

.r-nav-ul{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

section{
    background-color: #425B76;
}

section .new-box{
    height: 100px;
}

.last-news{
    height: 100px;
    padding:20px 0;
}

.last-news p{
    padding: 8px 20px;
}

.main{
    background-color: #FFF3EE;
}

.main-jumbo-box{
    padding-top: 80px;
    height: 650px;
}

.r-mj-box{
    width: 40%;
}

.r-mj-box h1{
    padding: 20px 0;
}

.p-r-mj-box{
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
}

.inner-r-mj-box{
    margin-top: 20px;
    width: 60%;
    height: 80px;
}

.info-service{
    background-color: #F5F8FA;
}

.in-se-box{
    height: 950px;
    padding:100px 0 50px;
}

.grid-one{
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-one::after{
    content: "";
    display: table;
    clear: both;
}

.text{
    padding: 20px;
    float: left;
    width: 33%;
    height: 400px;
}

.services{
    padding: 20px;
    float: left;
    width: 33%;
    height: 400px;
    background-color: #FFFFFF;
    box-shadow: 0 0 11px #eaf0f6;
}


.info-community{
    padding: 100px 0 120px 0;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.in-comm-box{
    /*

    height: 650px;
    */


}

.inner-comm-box{
    padding: 0 0 100px 0;
    max-width: 710px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.inner-comm-box h2{
    padding: 20px 0;
}

.grid-community-box{
    width: 1060px;
    margin: auto;
    padding: 0px 22px;
}

.grid-community-box h2{
    font-size: 50px;
}

.grid-community-box .up::after{
    vertical-align: middle;
    font-size: 20px;
    content:"+";
    color: white;

}

.row-cell{
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.r-row-cell{
    border-bottom: 1px solid #FFFFFF;
}

.b-row-cell{
    border-right: 1px solid #FFFFFF;

}

.b-row-cell .img-resize{
    max-width: 150px;
    max-height: 100%;
}

.b-row-cell, .br-row-cell, .r-row-cell, .row-cell{
    color: #FFF;
    line-height: 1.2;
    padding: 20px;
    height: 190px;
    float: left;
    width: 25%;
}

.img-grid{
    height: 37px;
    text-align: center;
    margin-bottom: 15px;
}

.text-grid-community{
    text-align: center;
}

.grid-community-box::after{
    content: "";
    display: table;
    clear: both;
}



.customers{
    padding-top: 80px;
    background-color: #FFFFFF;
}

.cust-box{
    padding: 30px 0;
    height: 185px;
}

.cust-box::after{
    content: "";
    display: table;
    clear: both;
}

.l-cust-box{
    float: left;
    width: 42%;
    padding-right: 164px;
}

.r-cust-box{
    width: 55%;
    float: right;
}

.img-cust-box{
    display: inline-block;
    align-items: middle;
}

.img-box{
    width: 25%;
    padding: 20px;
    float:left;
}

.img-box img{
    max-width: 100%;
    max-height: 100%;
}

.img-cust-box::after{
    content: "";
    display: table;
    clear: both;
}

.start-today{
    background-color: #FFFFFF;
}

.start-box{
    width: 100%;
    padding: 80px 0;
}

.l-start-box{
    width: 42%;
    height: 350px;
    float: left;
}

.r-start-box{
    width: 58%;
    height: 350px;
    float: right;
}

.r-start-box img{
    BOX-SHADOW: 0 0 black;
    float: right;
    max-width: 120%;
    max-height: 120%;
    transform: translate(0px, -50px);
}


.start-box::after{
    content: "";
    display: table;
    clear: both;
}

.end-footer{
    background-color: #33475B;
}

.end-box{
    padding-top: 40px;
    height: 120px;
    width: 100%;
}

.l-end-box{
    height: 120px;
    width: 20%;
    float: left;
}

.l-end-box img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 10px 0;
}

.r-end-box{
    height: 120px;
    width: 40%;
    float: right;
}

.first-link{
    height: 100%;
    padding: 60 5px;
    display: inline-block;
}

.second-link{
    height: 100%;
    padding: 30px 60px;
    display: inline-block;
}

.end-box::after{
    content: "";
    display: table;
    clear: both;
}


li{
    display: block;
    float: left;
    list-style: none;
}


.fa-globe{
    padding-right: 10px;
}

.fa-search{
    padding: 5px 20px 5px 0;
}


a{
    font-size: 18px;
    text-decoration: none;
}


p{
    font-size: 18px;
}

h1{
    font-size: 46px;
}

h2{
    margin:0;
    padding:0;
    font-size: 35px;
}

h3{

}

small{
    font-size: 14px;
    color:#CBD6E2;
}
