*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: auto;
}

header{
    position:relative;
    height: 80px;
    background-color: #F5F8FA;
    border-bottom: 1px solid #CBD6E2;
}

.h-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding:20px 0;
}

.h-box::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    background-color: #FFFFFF;
}

nav .nav-box{
    height: 90px;
}

nav .l-nav-box{
    float: left;
    position:relative;
    width: 50%;
    height: 90px;
}

.l-nav-box img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 120px;
}

nav .r-nav-box{
    float: right;
    position:relative;
    width: 50%;
    height: 90px;
}

.r-nav-ul{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

section{
    background-color: #425B76;
}

section .new-box{
    height: 100px;
}

.last-news{
    height: 100px;
    padding:20px 0;
}

.last-news p{
    padding:0 20px;
}

.main{
    background-color: #FFF3EE;
}

.main-jumbo-box{
    height: 650px;
}

.r-mj-box{
    width: 40%;
}

.r-mj-box h1{
    padding: 20px 0;
}

.p-r-mj-box{
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
}

.inner-r-mj-box{
    margin-top: 20px;
    width: 60%;
    height: 80px;
}

.info-service{
    background-color: #F5F8FA;
}

.in-se-box{
    height: 950px;
    padding:100px 0 50px;
}

.grid-one{
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-one::after{
    content: "";
    display: table;
    clear: both;
}

.text{
    padding: 20px;
    float: left;
    width: 33%;
    height: 400px;
}

.services{
    padding: 20px;
    float: left;
    width: 33%;
    height: 400px;
    background-color: #FFFFFF;
    box-shadow: 0 0 11px #eaf0f6;
}


.info-community{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.in-comm-box{
    height: 650px;
}

.inner-comm-box{
    padding: 100px 0;
    max-width: 710px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.inner-comm-box h2{
    padding: 20px 0;
}

.customers{
    padding: 100px;
    background-color: #FFFFFF;
}

.cust-box{
    height: 185px;
}

.cust-box::after{
    content: "";
    display: table;
    clear: both;
}

.l-cust-box{
    float: left;
    width: 40%
}

.r-cust-box{
    float: right;
    width: 60%;
}

.img-cust-box::after{
    content: "";
    display: table;
    clear: both;
}

.img-box{
    width: 20%;
    margin: 20px;
    float:left;
}

.img-box img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.start-today{
    background-color: #FFFFFF;
}

.start-box{
    height: 420px;
}

.end-footer{
    background-color: #33475B;
}

.end-box{
    height: 120px;
}

ul{
    font-size: 20px;
}

li{
    display: block;
    float: left;
    list-style: none;
}

li.left{
    border-right: 2px solid #CBD6E2;
}

.fa-globe{
    padding-right: 10px;
}

a{
    font-size: 18px;
    text-decoration: none;
}

p{
    font-size: 18px;
}

h1{
    font-size: 46px;
}

h2{
    margin:0;
    padding:0;
    font-size: 35px;
}
